<h1> Cadastro de Imóvel </h1>

<div>
================================================================================
</div>

<p> Lista de Regiões atualmente cadastradas. <%= link_to 'Caso precise adicionar
 uma nova região, clique aqui', new_property_region_path %><p>
<% if @property_regions.any? %>
    <% @property_regions.each do |region| %>
        <li><%= region.name%></li>
    <% end %>
<% else %>
    <p> Nenhuma região atualmente cadastrada </p>
<% end %>
<div>
================================================================================
</div>

<p> Lista de tipos de imóveis atualmente cadastrados. <%= link_to 'Caso precise adicionar
 um novo tipo, clique aqui', new_property_type_path %><p>
<% if @property_types.any? %>
    <% @property_types.each do |type| %>
        <li><%= type.name%></li>
    <% end %>
<% else %>
    <p> Nenhum tipo atualmente cadastrado </p>
<% end %>
<div>
================================================================================
</div>

<p> Preencha no formulário abaixo os dados do imóvel que deseja cadastrar.
    Todos os campos devem ser preenchidos! </p>
    
<%= form_with model: @property do |f| %>

<div>
    <%= f.label :title, "Título"%>
    <%= f.text_field :title %>
    
</div>

<div>
    <%= f.label :description, "Descrição do Imóvel"%>
    <%= f.text_field :description %>
</div>

<div>
    <%= f.label :rooms, "Número de Quartos"%>
    <%= f.text_field :rooms %>
</div>

<div>
    <%= f.label :bathrooms, "Número de Banheiros"%>
    <%= f.text_field :bathrooms %>
</div>

<div>
    <%= f.label :daily_rate, "Preço da Diária"%>
    <%= f.text_field :daily_rate %>
</div>

<div>
    <%= f.label :property_type_id, "Tipo" %>
    <%= f.collection_select :property_type_id, @property_types, :id, :name, prompt: 'Escolha um tipo' %>
</div>

<div>
    <%= f.label :property_region_id, "Região" %>
    <%= f.collection_select :property_region_id, @property_regions, :id, :name, prompt: 'Escolha uma região' %>
</div>

<div>
    <%= f.label :parking_slot, "Vaga de Estacionamento"%>
    <%= f.check_box :parking_slot %>
</div>

<div>
    <%= f.label :pets, "Aceita Pets?"%>
    <%= f.check_box :pets %>
</div>
<div>
    <%= f.submit "Finalizar Cadastro" %>
</div>

<% end %>

<div>
    <% if (not @property.nil?) and @property.errors.any?%>
        <% @property.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    <%end%>
</div>