<h1> Cadastro de Imóvel </h1>

<div>
================================================================================
</div>

<p> Lista de Regiões atualmente cadastradas. <%= link_to 'Caso precise adicionar
 uma nova região, clique aqui', new_property_region_path %><p>
<% if @property_regions.any? %>
    <% @property_regions.each do |region| %>
        <li><%= region.name%></li>
    <% end %>
<% else %>
    <p> Nenhuma região atualmente cadastrada </p>
<% end %>
<div>
================================================================================
</div>

<p> Lista de tipos de imóveis atualmente cadastrados. <%= link_to 'Caso precise adicionar
 um novo tipo, clique aqui', new_property_type_path %><p>
<% if @property_types.any? %>
    <% @property_types.each do |type| %>
        <li><%= type.name%></li>
    <% end %>
<% else %>
    <p> Nenhum tipo atualmente cadastrado </p>
<% end %>
<div>
================================================================================
</div>

<p> Preencha no formulário abaixo os dados do imóvel que deseja cadastrar.
    Todos os campos devem ser preenchidos! </p>
    
<%= form_with model: @property do |f| %>

<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <li><FONT COLOR="#ff0000"><%= @property.errors.full_messages_for(:title).to_sentence if (not @property.nil?) and (@property.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :description, "Descrição do imóvel"%>
    <%= f.text_field :description %>
    <li><FONT COLOR="#ff0000"><%= @property.errors.full_messages_for(:description).to_sentence if (not @property.nil?) and (@property.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :rooms%>
    <%= f.text_field :rooms %>
    <li><FONT COLOR="#ff0000"><%= @property.errors.full_messages_for(:rooms).to_sentence if (not @property.nil?) and (@property.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :bathrooms%>
    <%= f.text_field :bathrooms %>
    <li><FONT COLOR="#ff0000"><%= @property.errors.full_messages_for(:bathrooms).to_sentence if (not @property.nil?) and (@property.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :daily_rate%>
    <%= f.text_field :daily_rate %>
    <li><FONT COLOR="#ff0000"><%= @property.errors.full_messages_for(:daily_rate).to_sentence if (not @property.nil?) and (@property.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :property_type_id, 'Tipo' %>
    <%= f.collection_select :property_type_id, @property_types, :id, :name, prompt: 'Escolha um tipo' %>
    <li><FONT COLOR="#ff0000"><%= @property.errors.full_messages_for(:property_type).to_sentence if (not @property.nil?) and (@property.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :property_region_id, 'Região' %>
    <%= f.collection_select :property_region_id, @property_regions, :id, :name, prompt: 'Escolha uma região' %>
    <li><FONT COLOR="#ff0000"><%= @property.errors.full_messages_for(:property_region).to_sentence if (not @property.nil?) and (@property.errors.any?) %></li></FONT>
</div>

<div>
    <%= f.label :parking_slot %>
    <%= f.check_box :parking_slot %>
</div>

<div>
    <%= f.label :pets %>
    <%= f.check_box :pets %>
</div>
<div>
    <%= f.submit "Finalizar cadastro" %>
</div>

<% end %>