<h1><%= @property.title %></h1>

<h3><%= @property.description %></h3>
<div>
<dl>
  <dt>Tipo:</dt>
  <dd><%= @property.property_type.name %></dd>

  <dt>Região:</dt>
  <dd><%= @property.property_region.name %></dd>
  
  <dt>Número de quartos:</dt>
  <dd><%= @property.rooms %></dd>

  <dt>Número de banheiros:</dt>
  <dd><%= @property.bathrooms %></dd>
  
  <dt>Aceita pets?</dt>
  <dd><%= if @property.pets then "Sim" else "Não" end %></dd>

  <dt>Vaga de estacionamento?</dt>
  <dd><%= if @property.parking_slot then "Sim" else "Não" end %></dt>

  <dt>Preço da diária:</dt>
  <dd><%= number_to_currency(@property.daily_rate) %></dd>

  <dt>Imóvel de:</dt>
  <dd><%= @property.property_owner.email %></dd>

</dl>
</div>

<h3> Verificar datas </h3>
<%= form_with model: [@property, @property_reservation] do |form|%>
  <%= form.label :start_date, 'Data de início'%>
  <%= form.date_field :start_date%>

  <%= form.label :end_date, 'Data de término'%>
  <%= form.date_field :end_date%>

  <%= form.label :guests_integer, 'Quantidade de pessoas'%>
  <%= form.number_field :guests_integer, step: 1, min: 1%>

  <%= form.submit 'Enviar reserva'%>
<% end %>

<%= link_to('Voltar', root_path)%>