<h1> Cadastro de novo tipo de imóvel </h1>
<p> Lembre-se que não pode deixar o espaço em branco e nem colocar um tipo já existente </p>

<%= form_with model: @property_type do |f| %>

<div>
    <%= f.label :name, "Tipo"%>
    <%= f.text_field :name %>
</div>

<div>
    <%= f.submit "Voltar ao cadastro" %>
</div>

<% end %>

<div>
    <% if (not @property_type.nil?) and @property_type.errors.any?%>
        <% @property_type.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    <%end%>
</div>