<section>
    <div><%= "Nenhum imóvel cadastrado," if not @properties.any?%>
    <%= link_to 'clique aqui para cadastrar um imóvel', new_property_path %>
    </div>

    <% @properties.each do |p| %>
        <div><%= link_to p.title, property_path(p.id) %></div>
        <div><%= p.description %></div>
        <div>Número de quartos: <%= p.rooms %></div>
        <div>=================================================================</div>
    <% end %>
</section>